{% if in_header == 1 %}<div class="hdr-line-separate">{% endif %}
<ul class="social-list {{ class }}">
{% if settings.social_facebook_link != blank %}
    <li><a target="_blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
        <i class="icon icon-facebook"></i>
    </a></li>
{% endif %}
{% if settings.social_twitter_link != blank %}
    <li><a target="_blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
        <i class="icon icon-twitter"></i>
    </a></li>
{% endif %}
{% if settings.social_youtube_link != blank %}
    <li><a target="_blank" class="social-icons__link" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
            <i class="icon icon-youtube"></i>
        </a></li>
{% endif %}
{% if settings.social_instagram_link != blank %}
    <li><a target="_blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
            <i class="icon icon-instagram"></i>
        </a></li>
{% endif %}
{% if settings.social_pinterest_link != blank %}
    <li><a {% unless settings.social_pinterest_link == '#' %}target="_blank"{% endunless %} href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
        <i class="icon icon-pinterest"></i>
    </a></li>
{% endif %}

{% if settings.social_tumblr_link != blank %}
    <li><a target="_blank"  href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
        <i class="icon icon-tumblr"></i>
    </a></li>
{% endif %}
{% if settings.social_snapchat_link != blank %}
    <li><a target="_blank"  href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
        <i class="icon icon-snapchat"></i>
    </a></li>
{% endif %}

{% if settings.social_vimeo_link != blank %}
    <li><a target="_blank"  href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
        <i class="icon icon-vimeo-logo vimeo-color"></i>
    </a></li>
{% endif %}
</ul>
{% if in_header == 1 %}</div>{% endif %}