{% if cart.item_count > 0 %}
<div class="holder mt-0">
  <div class="container">
    <h1 class="text-center">{{ 'general.theme.shopping_cart' | t }}</h1>
    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart white">
      <div class="cart-table">
        {% for item in cart.items %}
        <div class="cart-table-prd">
          <div class="cart-table-prd-image">
            <a href="{{ item.url | within: collections.all }}" ><img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}"></a>
          </div>
          <div class="cart-table-prd-name">
            <h5><span>{{ item.vendor }}</span></h5>
            {% unless item.variant.title contains 'Title' %}<h5><a href="{{ item.url }}">{{ item.variant.title }}</a></h5>{% endunless %}
            <h2><a href="{{ item.url }}" title="{{ item.title }}">{{ item.product.title }}</a></h2>

            {% unless item.variant.title contains 'Default' %}
            <div class="options_title">

            </div>
            {% endunless %}
            <div class="options_title">
              {% assign propertySize = item.properties | size %}
              {% if propertySize > 0 %}
                {% for p in item.properties %}
                  <h2>{% assign first_character_in_key = p.first | truncate: 1, '' %}
                    {% unless p.last == blank or first_character_in_key == '_' %}
                    {{ p.first }}:
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}<br/>
                    {% endif %}

                    {% endunless %}
                  </h2>
                {% endfor %}
              {% endif %}
            </div>

          </div>
          <div class="cart-table-prd-qty">
            <div class="qty qty-changer">
              <fieldset>
                <input type="button" value="&#8210;" class="decrease">
                <input type="text" class="qty-input" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-min="1">
                <input type="button" value="+" class="increase">
              </fieldset>
            </div>
          </div>
          <div class="cart-table-prd-price"><span>{{ 'cart.label.price' | t}}:</span> <b>{{ item.price | money }}</b></div>
          <div class="cart-table-prd-action">
            {% include 'wishlist-cart' %}
            <a href="{{ item.url }}" class="icon-pencil"></a>
            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-variant-id="{{ item.variant_id }}" data-line-number="{{ forloop.index }}"  title="{{ 'cart.general.remove' | t }}" class="icon-cross"></a>
          </div>
        </div>
        {% endfor %}
        <div class="cart-table-total">
          <div class="row">
            <div class="col-sm">
              <a href="/cart/clear" class="btn btn--grey"><i class="icon-cross"></i><span>{{ 'cart.general.clear' | t }}</span></a>
              <button type="submit" class="btn btn--alt" name="update"><i class="icon-repeat"></i><span>{{ 'cart.general.update' | t }}</span></button>
            </div>
            <div class="col-sm-auto"><a href="{{ shop.url }}" class="btn btn--alt"><i class="icon-angle-left"></i><span>{{ 'cart.general.continue' | t }}</span></a></div>
          </div>
        </div>
        {% if settings.free_shipping_cart_yes %}
         {% include 'free-shipping-bar' %}
        {% endif %}
      </div>
      <div class="mt-3 mt-lg-5">
      <div class="row vert-margin">
        {% if settings.get_shipping_estimates %}
        <div class="col-md-4">
          {% include 'shipping-calculator' %}
        </div>
        {% endif %}
        <div class="{% if settings.get_shipping_estimates %}col-md-4{% else %}col-md-8{% endif %}">
          {% assign noteSize = cart.note | size %}
          <h2>{{ 'cart.general.note' | t }}</h2>
          <label class="text-uppercase">{{ 'cart.general.note_desc' | t }}</label>
          <textarea name="note"  id="CartSpecialInstructions" class="form-control textarea--height-200"  data-cart-notes></textarea>
        </div>
        <div class="col-md-4">
          <div class="card-total text-uppercase">
            <table class="total-price">
              {% if cart.total_discounts > 0 %}
                {% assign savings = cart.total_discounts | money %}
                <tr>
                  <td colspan="2">{{ 'cart.general.savings_html' | t: price: savings }}</td>
                </tr>
              {% endif %}
              <tr  class="total">
                <td>{{ 'cart.general.subtotal' | t }}&nbsp;</td>
                <td><span class="card-total-price">{{ cart.total_price | money }}</span></td>
              </tr>
            </table>
          </div>
          <button class="btn btn--full btn--lg cartCheckout" type="submit" name="checkout">{{ 'cart.general.checkout_procees' | t }}</button>
          {% if additional_checkout_buttons %}
            <div class="cart__additional_checkout cartCheckout">{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
          {% render 'agreement-checkbox', button: '.cartCheckout', name: 'agreementCheckboxCart' %}
        </div>
      </div>
    </div>
    </form>
  </div>
</div>
{% else %}
<div class="holder mt-0">
  <div class="container">
  <div class="empty-category">
    <div class="empty-category-text"><span>{{ 'general.theme.sorry' | t }}</span>, {{ 'general.theme.empty_cart_1' | t }}</div>
    <div class="empty-category-button clear-all"><a href="/collections/all"  class="btn-decor">{{ 'general.theme.all_products' | t }}</a></div>
    <div class="empty-category-icon"><i class="icon-sad-face"></i></div>
  </div>
  </div>
  </div>
{% endif %}